;; https://github.com/Datomic/day-of-datomic/blob/master/resources/day-of-datomic/bigger-than-pluto.edn
[{:db/id #db/id [:db.part/db]
  :db/ident :solar-system/name
  :db/doc "Name of a Solar System"
  :db/valueType :db.type/string
  :db/index true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/doc "Planets in the solar system"
  :db/ident :solar-system/planets
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :object/name
  :db/doc "Name of a Solar System object."
  :db/valueType :db.type/string
  :db/index true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :object/meanRadius
  :db/doc "Mean radius of an object."
  :db/index true
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/doc "Type of object"
  :db/ident :object/type
  :db/valueType :db.type/ref
  :db/isComponent false
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/user] :db/ident :object.type/gas}
 {:db/id #db/id [:db.part/db]
  :db/ident :data/source
  :db/doc "Source of the data in a transaction."
  :db/valueType :db.type/string
  :db/index true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]
